@import "partials/base"

// our mixins
=less-styled-link
  :text-decoration none

// our constants
$dark_blue: #3d66ac
$sky_blue:  #90b3df




// FONTS and LINK STYLES

body.three-col.bp
  color: black
  font-family: Verdana, Geneva, sans-serif
  a
    text-decoration: underline
    +link-colors($dark_blue, $sky_blue, $dark_blue, $dark_blue, $dark_blue)
  ul
    +no-bullets
    padding-left: 0
    margin: 0
  h1, h2, h3, h4, h5, h6
    +header-text
    font-family: Georgia, serif
  h1
    font-size: 1.5em
    a:link, a:visited, a:active, a:hover
      text-decoration: none
      font-weight: normal
      color: black
  #container
    header
      nav
        ul
          li
            font-family: Georgia, serif
            font-size: 1.3em
            a:link, a:visited, a:active, a:hover
              text-decoration: none
              font-weight: normal
              color: black
          li:first-child
            font-size: 2em

// STRUCTURE
body.three-col.bp
  #container
    padding-top: 20px
    header
      nav
      ul
        +horizontal-list-container
        padding-left: 0
        margin: 0
        float: left
        li
          +horizontal-list-item
          +column(2)
          height: 70px
          padding: 0px
        li#homelogo
          +column(4)
        li#sociallinks
          +column(5)
    section
      clear: both
      overflow: hidden
      border-top: 2px solid black
      padding: 20px 0
      aside
        ul
          +no-bullets
          padding-left: 0
          margin: 0
          li
            border-top: 1px solid black
            padding: 0 0 10px 0
    section#landing, section#biography
      p
        +column(12)
    section#gigs
      ul li
        clear: both
        overflow: hidden
        border-top: 1px solid black
        padding: 0 0 10px 0
        date
          +column(4)
          float: left
        p
          +column(6)
          float: left
          margin: 0
        p:last-child
          +column(4)
    section#contacts
      ul
        +horizontal-list
        li
          +column(4)
          padding: 0
          p
            margin: 0

    footer
      clear: both
      overflow: hidden
      border-top: 2px solid black
      padding: 20px 0



