/* line 17, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../../stylesheets/application_internal.sass */
body.three-col.bp {
  color: #999999;
}
/* line 25, ../../stylesheets/application_internal.sass */
body.three-col.bp a {
  text-decoration: underline;
  color: #3d66ac;
}
/* line 18, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.three-col.bp a:visited {
  color: #3d66ac;
}
/* line 21, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.three-col.bp a:focus {
  color: #3d66ac;
}
/* line 24, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.three-col.bp a:hover {
  color: #90b3df;
}
/* line 27, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.three-col.bp a:active {
  color: #3d66ac;
}
/* line 28, ../../stylesheets/application_internal.sass */
body.three-col.bp ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 11, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
body.three-col.bp ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 32, ../../stylesheets/application_internal.sass */
body.three-col.bp h1, body.three-col.bp h2, body.three-col.bp h3, body.three-col.bp h4, body.three-col.bp h5, body.three-col.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 35, ../../stylesheets/application_internal.sass */
body.three-col.bp h1 a:link, body.three-col.bp h1 a:visited, body.three-col.bp h1 a:active, body.three-col.bp h1 a:hover, body.three-col.bp h2 a:link, body.three-col.bp h2 a:visited, body.three-col.bp h2 a:active, body.three-col.bp h2 a:hover, body.three-col.bp h3 a:link, body.three-col.bp h3 a:visited, body.three-col.bp h3 a:active, body.three-col.bp h3 a:hover, body.three-col.bp h4 a:link, body.three-col.bp h4 a:visited, body.three-col.bp h4 a:active, body.three-col.bp h4 a:hover, body.three-col.bp h5 a:link, body.three-col.bp h5 a:visited, body.three-col.bp h5 a:active, body.three-col.bp h5 a:hover, body.three-col.bp h6 a:link, body.three-col.bp h6 a:visited, body.three-col.bp h6 a:active, body.three-col.bp h6 a:hover {
  text-decoration: none;
  font-weight: normal;
  color: black;
}
/* line 39, ../../stylesheets/application_internal.sass */
body.three-col.bp h1, body.three-col.bp h2 {
  font-size: 1.5em;
  margin-top: 1em;
}
/* line 42, ../../stylesheets/application_internal.sass */
body.three-col.bp h3 {
  font-size: 1.2em;
  border-top: 1px solid black;
  padding-top: 0.3em;
  margin-bottom: 0.5em;
}
/* line 49, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header {
  padding-top: 18px;
  position: fixed;
  z-index: 1000;
  background: url("white_nav.png") repeat-x scroll 0 0 transparent;
  height: 90px;
}
/* line 56, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header .logo {
  font-size: 1.5em;
  font-color: black;
  background: url(span-4-rows-4.png) top left no-repeat;
  vertical-align: baseline;
  height: 72px;
}
/* line 62, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header nav {
  float: left;
}
/* line 65, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header nav ul li {
  font-size: 1.1em;
}
/* line 67, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header nav ul li a:link, body.three-col.bp #container header nav ul li a:visited, body.three-col.bp #container header nav ul li a:active, body.three-col.bp #container header nav ul li a:hover {
  text-decoration: none;
  font-weight: normal;
  color: black;
}

/* line 79, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header .logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container header .logo {
  overflow-x: hidden;
}
/* line 82, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding-left: 0;
  margin: 0;
}
/* line 86, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  padding: 0px;
}
/* line 48, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.three-col.bp #container header nav ul li:first-child, body.three-col.bp #container header nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.three-col.bp #container header nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.three-col.bp #container header nav ul li.last {
  padding-right: 0;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container header nav ul li {
  overflow-x: hidden;
}
/* line 90, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header nav ul li.contact {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container header nav ul li.contact {
  overflow-x: hidden;
}
/* line 92, ../../stylesheets/application_internal.sass */
body.three-col.bp #container header .socialbookmarks {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  list-style-type: none;
  white-space: normal;
  float: left;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container header .socialbookmarks {
  overflow-x: hidden;
}
/* line 5, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
body.three-col.bp #container header .socialbookmarks, body.three-col.bp #container header .socialbookmarks li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 97, ../../stylesheets/application_internal.sass */
body.three-col.bp #container h2 {
  margin-top: 90px;
}
/* line 99, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section {
  padding-top: 90px;
}
/* line 102, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section .wrapper {
  clear: both;
  overflow: hidden;
  border-top: 2px solid black;
  padding-top: 18px;
}
/* line 107, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section .wrapper article {
  padding-bottom: 1px;
}
/* line 110, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section .wrapper aside ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 11, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
body.three-col.bp #container section .wrapper aside ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 114, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section .wrapper aside ul li {
  border-top: 1px solid black;
  padding: 0 0 10px 0;
}
/* line 117, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section .wrapper aside ul li li {
  border-top: 0px solid black;
  padding: 0 0 10px 0;
}
/* line 120, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section .wrapper aside ul li input {
  margin: 5px 0;
}
/* line 125, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section p, body.three-col.bp #container section h2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container section p, * html body.three-col.bp #container section h2 {
  overflow-x: hidden;
}
/* line 127, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section h2 {
  margin-top: 1em;
}
/* line 132, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section#listen ul {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container section#listen ul {
  overflow-x: hidden;
}
/* line 135, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section#gigs ul li {
  clear: both;
  overflow: hidden;
  border-top: 1px solid black;
  padding: 0 0 10px 0;
}
/* line 140, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section#gigs ul li date {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  float: left;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container section#gigs ul li date {
  overflow-x: hidden;
}
/* line 143, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section#gigs ul li p {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  float: left;
  margin: 0;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container section#gigs ul li p {
  overflow-x: hidden;
}
/* line 147, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section#gigs ul li p:last-child {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container section#gigs ul li p:last-child {
  overflow-x: hidden;
}
/* line 150, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section#contact ul {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container section#contact ul {
  overflow-x: hidden;
}
/* line 60, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.three-col.bp #container section#contact ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.three-col.bp #container section#contact ul li:first-child, body.three-col.bp #container section#contact ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.three-col.bp #container section#contact ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body.three-col.bp #container section#contact ul li.last {
  padding-right: 0;
}
/* line 153, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section#contact ul li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  padding: 0;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container section#contact ul li {
  overflow-x: hidden;
}
/* line 156, ../../stylesheets/application_internal.sass */
body.three-col.bp #container section#contact ul li p {
  margin: 0;
}
/* line 158, ../../stylesheets/application_internal.sass */
body.three-col.bp #container footer {
  clear: both;
  overflow: hidden;
  margin-top: 90px;
  border-top: 2px solid black;
  padding: 20px 0;
  margin-bottom: 500px;
}
/* line 165, ../../stylesheets/application_internal.sass */
body.three-col.bp #container footer #about_asc {
  padding-left: 160px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  display: none;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.three-col.bp #container footer #about_asc {
  overflow-x: hidden;
}

/* line 172, ../../stylesheets/application_internal.sass */
article #slider {
  width: 470px;
  height: 264px;
  overflow: hidden;
}
/* line 173, ../../stylesheets/application_internal.sass */
article #slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 177, ../../stylesheets/application_internal.sass */
article #slider li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 470px;
  height: 264px;
  overflow: hidden;
}
/* line 187, ../../stylesheets/application_internal.sass */
article ol#controls {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  clear: both;
}
/* line 147, ../../../../../../../Users/andi/.rvm/gems/ruby-1.9.2-p290@cenatus-cms/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html article ol#controls {
  overflow-x: hidden;
}
/* line 194, ../../stylesheets/application_internal.sass */
article ol#controls li {
  float: left;
  padding-right: 1em;
}

/* line 200, ../../stylesheets/application_internal.sass */
section#listen article li {
  display: none;
}
